@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Manrope", sans-serif !important;
}

.mt-30 {
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.btn-green {
  background: #bfff0b;
  border-radius: 4px;
  padding: 8px 5px;
  color: black;
  border: none;
  font-size: 8px;
  font-weight: 400;
  width: 60px;
}

.line {
  border: 0.5px solid #d9ddd5;
  margin: 18px 0;
}

.card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #d28b28;
}

.text-line {
  text-decoration-line: line-through;
}

.d-flex-main {
  display: flex;
  align-items: center;
}

.btn-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  gap: 8px;
  min-width: 146px;
  height: 50px;
  background: #242628;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none !important;
}

.btn-white {
  background-color: #fff !important;
  color: #242628 !important;
  border-color: #fff !important;
}

.banner {
  background: #f9f1ec;
  padding: 60px 0 313px 0;
}

.banner {
  .sec-title {
    font-weight: 700;
    font-size: 82px;
    line-height: 86px;
    letter-spacing: -0.04em;
    color: #000000;
  }

  .sec-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 20px;
    max-width: 780px;
  }
}

.banner-graphic {
  position: relative;
  background: url(image/banner-graphic.svg);
  top: -330px;
  margin-bottom: -450px;
  z-index: 996;
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  right: 0;
  background-position-x: right;
}

.sec-finance-platform {
  margin-top: 10px;

  .sec-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    text-align: left;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 80px;
  }

  .finance-platform-card {
    padding: 35px 35px 280px;
    position: relative;
    background: #f4f3f1;
    border: 1px solid #f4f3f1;
    border-radius: 8px;
    margin-bottom: 30px;

    .card-sub-tittle {
      font-weight: 700;
      font-size: 26px;
      line-height: 40px;
      display: flex;
      align-items: flex-end;
      letter-spacing: -0.02em;
      color: #000000;
      margin-top: 10px;
    }

    .card-pera {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: #586068;
      margin-top: 7px;
      max-width: 440px;
      padding-bottom: 35px;
    }

    .card-graphic {
      position: absolute;
      background: url(image/budget-graphic.svg);
      bottom: -3px;
      height: 100%;
      width: calc(100% - 68px);
      background-repeat: no-repeat !important;
      background-position-y: bottom !important;
      background-position-x: center !important;
      background-size: 100%;
    }

    .card-graphics {
      position: absolute;
      bottom: -3px;
      background: url(image/engineering-tol-graphic.svg);
      height: 100%;
      width: calc(100% - 68px);
      background-repeat: no-repeat !important;
      background-position-y: bottom !important;
      background-position-x: center !important;
      background-size: 100%;
      border-radius: 5px 5px 0 0;
    }

    .card-graphic-card {
      background: url(image/card-graphic.svg);
      width: 100%;
      right: 0;
      background-size: contain !important;
    }

    .card-graphic-over-view {
      background: url(image/overview-graphic.svg);
      width: 100%;
      right: 0;
      background-size: 100%;
    }

    .reimbursement-graphic {
      position: absolute;
      bottom: -3px;
      background: url(image/reimbursement.svg);
      height: 100%;
      width: calc(100% - 68px);
      background-repeat: no-repeat !important;
      background-position-y: bottom !important;
      background-position-x: center !important;
      background-size: 100%;
      border-radius: 5px 5px 0 0;
    }

    .payment-graphic {
      position: absolute;
      bottom: -3px;
      background: url(image/payment.svg);
      height: 100%;
      width: calc(100% - 68px);
      background-repeat: no-repeat !important;
      background-position-y: bottom !important;
      background-position-x: center !important;
      background-size: 100%;
      border-radius: 5px 5px 0 0;
    }
  }
}

.sec-our-product {
  .sec-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 50px;
    text-align: left;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 50px;

    .orange {
      color: #d28b28;
    }
  }

  .sec-our-product-box {
    padding: 60px 0 120px 0;
    border-radius: 8px;
  }

  .slider-card {
    background: #ffffff;
    border: 1px solid #e6e8e3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    padding: 40px;
  }
}

.carousel-main {
  .carousel-card {
    width: 100%;
    padding: 20px;
    background: #fcfaf8;
    border: 1px solid #e6e8e3;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    height: 280px;
  }

  .tns-outer {
    position: relative;
  }

  .tns-controls {
    position: absolute;
    bottom: -90px;
    right: 30px;

    button {
      box-shadow: 0px 10px 20px -15px rgb(0 0 0 / 12%), 0px 75px 100px rgb(0 0 0 / 10%);
      border-radius: 100px;
      width: 60px;
      height: 60px;
      border: none;
      background: url(../src/image/Button.png);
    }

    :first-child {
      display: none;
    }
  }

  .tns-nav {
    position: absolute;
    bottom: -70px;
    left: 30px;

    button {
      width: 8px;
      height: 12px;
      background-color: #d4cdc9;
      border: none;
      border-radius: 100%;
      margin-right: 10px;
      border-radius: 50px;
    }

    .tns-nav-active {
      background: #000000;
    }
  }

  .cradit-available {
    margin-top: 50px;
    background-color: rgba(169, 169, 169, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
  }

  .integeration-highlight {
    background: #f7f8f7;
    border-radius: 12px;
    padding: 22px 20px;

    .sec-title {
      font-weight: 400;
      font-size: 25px;
      line-height: 26px;
      color: #242628;
    }

    .sec-description {
      font-weight: 400;
      font-size: 9px;
      line-height: 11px;
      color: #586068;
    }

    .progress {
      height: 5px !important;
      margin-top: 10px;
    }

    .sec-sub-pera {
      font-weight: 400;
      font-size: 9px;
      line-height: 15px;
      color: #242628;
      margin-top: 12px;
    }

    .bg-success {
      background-color: #bfff0b !important;
    }
  }

  .monthly-repayment {
    background: #ffffff;
    border-radius: 10px;
    padding: 16px 20px;
    border-radius: 0 0 10px 10px;
    border: 2px solid;
    border-image-slice: 2;
    border-width: 2px;
    background-color: transparent;
    border-image-source: linear-gradient(180deg, #e5e8e300 0%, #e5e8e3 100%);

    .sec-sub-title {
      font-weight: 400;
      font-size: 9px;
      line-height: 15px;
      color: #000000;
      margin-bottom: 0;
    }

    .sec-title {
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #000000;
      margin-top: 4px;
    }

    .sec-highlight {
      color: #d28b28;
    }

    .due-date {
      font-weight: 400;
      font-size: 7px;
      line-height: 8px;
      color: #586068;
      margin-top: 5px;
    }
  }

  .card-sub-title {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.next-level-finance {
  padding: 150px 0;

  .sec-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 80px;
  }

  .sec-sub-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 50px;
  }
}

.sec-try-to-bujeti {
  position: relative;
  background: #bfff0b;
  padding: 100px 0;

  .sec-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 15px;
  }

  .sec-main {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -0.03em;
    color: #000000;
    margin-bottom: 20px;
  }

  .sec-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.01em;
    color: #586068;
    margin-bottom: 50px;
  }

  .sec-graphic {
    position: absolute;
    bottom: 0px;
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;
    background-position-x: center !important;
    background-size: 100%;
    right: 15%;
  }
}

.footer {
  background-color: #000;
  padding: 85px 0;
  position: relative;

  .sec-graphic {
    position: absolute;
    top: 0;
    background-repeat: no-repeat !important;
    background-position-y: bottom !important;
    background-position-x: center !important;
    background-size: 100%;
    left: 0;
  }

  .ml-18 {
    margin-left: 18px;
  }

  .contact {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #bfc6b9;
    display: flex;

    span {
      font-weight: 600;

      a {
        text-decoration: none;
        color: #bfc6b9;

        &:after {
          content: "\A";
          background-color: #ffffff;
          width: 5px;
          height: 5px;
          border-radius: 50%;
        }
      }
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #bfc6b9;
    display: flex;

    a {
      text-decoration: none;
      color: #bfc6b9;
    }

    .span {
      font-weight: 600;
    }
  }
}

.tns-controls {
  button {
    color: rgba(255, 0, 0, 0) !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .banner-graphic {
    top: -270px;
    background-size: contain;
  }

  .sec-finance-platform {
    margin-top: -410px;

    .finance-platform-card {
      padding: 35px 35px 160px;
    }
  }

  .sec-try-to-bujeti {
    .sec-graphic {
      right: 2%;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .btn-main {
    padding: 15px 23px;
  }

  .banner {
    padding: 60px 0 270px 0;

    .sec-title {
      font-size: 50px;
      line-height: 56px;
    }
  }

  .banner-graphic {
    background: url(image/Image.svg);
    top: -220px;
    width: 100%;
    background-repeat: no-repeat;
    right: 0;
    height: 500px;
    background-position-x: right;
  }

  .sec-finance-platform {
    padding: 100px 0 0;

    .sec-title {
      font-size: 38px;
      line-height: 45px;
      margin-bottom: 40px;
      text-align: center;
    }

    .finance-platform-card {
      padding: 35px 35px 140px;
    }
  }

  .sec-our-product {
    .sec-our-product-box {
      padding: 0;
    }

    .sec-title {
      font-size: 38px;
      line-height: 45px;
      margin-bottom: 40px;
      text-align: center;
    }

    .carousel-card {
      padding: 30px 20px;
    }

    .card-sub-title {
      font-size: 18px;
    }

    .tns-nav {
      bottom: -60px;
    }

    .tns-controls {
      bottom: -80px;
    }
  }

  .next-level-finance {
    padding: 50px 0;

    .sec-title {
      font-size: 38px;
      line-height: 45px;
    }

    .sec-sub-title {
      margin-bottom: 50px;
    }
  }

  .sec-try-to-bujeti {
    padding: 80px 0 370px;

    .sec-main {
      font-size: 38px;
      line-height: 45px;
    }

    .sec-description {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }

  .footer {
    padding: 50px 0;

    .sec-graphic {
      img {
        max-width: 80px;
      }
    }
  }

  .fade {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .modal-content {
    padding: 30px 10px !important;
  }
}

.loader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.b-rad-dot-8 {
  border-radius: 0.8em;
}

@media (max-width: 1024px) {
  .modal-p {
    padding-top: 12rem;
    padding-bottom: 1rem;
  }
}
