@import "./caravel";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body-padding{
    @apply px-[35px] sm:px-12 md:px-14 lg:px-20 xl:px-24;
  }

  .container {
    @apply max-w-[1200px] mx-auto;
  }

  .logo--fixed {
    @apply inset-x-[35px] sm:inset-x-12 md:inset-x-14 lg:inset-x-20 xl:inset-x-24 fixed top-9 h-6 sm:h-8 md:h-[35px] z-[999] max-w-[1200px] mx-auto;
  }

  .logo--normal{
    @apply h-28 sm:h-32 lg:h-40 w-full;
  }
}



//MIXINS

// 'sm': '520px',
// 'md': '800px',
// 'lg': '1024px',
// 'xl': '1280px',
// '2xl': '1536px',

@mixin sm {
  @media screen and (min-width: 520px) {
    @content
  }
};
@mixin ssm {
  @media screen and (min-width: 520px) and (max-height: 1024px) {
    @content
  }
};

@mixin md {
  @media screen and (min-width: 800px) {
    @content
  }
};

@mixin mmd {
  @media screen and (min-width: 800px) and (max-height: 1200px) {
    @content
  }
};

@mixin lg {
  @media screen and (min-width: 1024px) {
    @content
  }
};

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: "Caravel", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.full-screen{
  height: -webkit-fill-available;

  body{
    height: 100vh;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  #__next, main{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
}


.tight-spacing{
  letter-spacing: 0px;
}

.no-outline{
  outline: none !important;
}

.section{
  transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) 400ms;
  height: 100vh;
  width: 100%;
  position: relative;
}

.logo{
  transition: all 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.follow-text{
  transition: opacity ease-out 2s;
  opacity: 0.3;

  &--visible{
    opacity: 1;
  }
}

.phone-screen{
  position: fixed;
  bottom: 0;
  max-width: 650px;
  overflow: hidden;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, 67%);

  @include md{
    left: unset;
    right: 0;
    width: 35vw;
    transform: translate(0%, 52.5%);
  }

  .card-modal-screen{
    position: absolute;
    transform: translateY(100%);
    transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
  }

  .transactions-screen{
    position: absolute;
    transform: translateY(100%);
    transition: transform cubic-bezier(0.455, 0.03, 0.515, 0.955) .5s;
  }
}

.card{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70vw;
  max-width: 400px;
  transform: translate(17%, 22%);

  @include md{
    width: 24vw;
    transform: translate(-73%, -25%);
  }
}

//remove default input field on safari
input {
  appearance: none;
  -webkit-appearance: none;
}

.new-container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header-text {
  line-height: 1.2;
}

.display-text{
  &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 12.5%;
    width: 100%;
    height: 25%;
    background: #BFFF0B;
  }
}

.typed-cursor{
  font-weight: 100 !important;
  font-size: 0.4em;
  display: inline-block;
  transform: translateY(-20%) scale(1, 2.5);
  position: relative;
  z-index: 10;
}

.fixed-stuff{
  display: block;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1000px;
  height: 32vh;

  @include lg{
    height: 46.5vh;
  }

  figure{
    position: absolute;
  }

  .app{
    right: 5%;
    width: 70%;
    top: -7%;
    transform: translateY(100%);
    animation: app-display 1s 0.5s ease-out forwards;

    @include sm{
      display: none;
    }
    @include mmd{
      display: block;
      width: 20%;
      top: 25%;
      right: 1%;
    }

    @include lg{
      display: block;
      width: 22%;
      top: 15%;
      right: 0;
    }
    // top: 25%;
  }

  .dashboard{
    display: none;
    filter: drop-shadow(0px 35px 50px rgba(0, 0, 0, 0.07));

    @include sm{
      display: block;
      width: 80%;
      right: 0;
    }

    @include md{
      width: 75%;
    }

    @include mmd{
      width: 70%;
      left: 15.5%;
      bottom: 0;
    }

    @include lg{
      width: 72%;
      left: 12.5%;
      bottom: initial;
    }
  }

  .card-fixed{
    width: 40%;
    top: 18%;
    left: 0;
    opacity: 0;
    transform: translateX(25%);
    animation: card-display 1.2s 1.5s ease-out forwards;

    @include sm{
      width: 25%;
      top: 22%;
      left: 5%;
    }
    @include mmd{
      width: 15%;
      top: 50%;
      left: 0;
    }

    @include lg{
      width: 15%;
      top: 35%;
      left: -2%;
    }
  }
}

@keyframes app-display {
  100% {
    transform: translateY(0);
  }
}

@keyframes card-display {
  10% {
    opacity: 1;
  }

  50%{
    opacity: 1;
    transform: translateX(0);
  }

  70%{
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: rotate(-7deg) translateX(0);
  }
}

.modal-bg{
  background: rgba(#D9DDD5, .85);
  backdrop-filter: blur(8px);
}
