@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variable fonts usage: */
:root {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'InterVar', sans-serif;
    font-optical-sizing: auto;
  }
}

@font-face {
  font-family: 'InterVar';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../assets/fonts/interv/Inter.var.woff2?v=3.19') format('woff2-variations'),
    url('../assets/fonts/interv/Inter.var.woff2?v=3.19') format('woff2');
}
@font-face {
  font-family: 'InterVar';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../assets/fonts/interv/Inter-italic.var.woff2?v=3.19') format('woff2-variations'),
    url('../assets/fonts/interv/Inter-italic.var.woff2?v=3.19') format('woff2');
}

body {
  font-family: 'InterVar', sans-serif !important;
}

.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    91.98% 76.81% at -2.29% 19.78%,
    rgba(191, 255, 11, 0.960701) 14.42%,
    rgba(191, 255, 11, 0.180131) 65.13%,
    rgba(255, 255, 255, 0) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    91.98% 76.81% at -2.29% 19.78%,
    rgba(191, 255, 11, 0.960701) 14.42%,
    rgba(191, 255, 11, 0.180131) 65.13%,
    rgba(255, 255, 255, 0) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    91.98% 76.81% at -2.29% 19.78%,
    rgba(191, 255, 11, 0.960701) 14.42%,
    rgba(191, 255, 11, 0.180131) 65.13%,
    rgba(255, 255, 255, 0) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    91.98% 76.81% at -2.29% 19.78%,
    rgba(191, 255, 11, 0.960701) 14.42%,
    rgba(191, 255, 11, 0.180131) 65.13%,
    rgba(255, 255, 255, 0) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    91.98% 76.81% at -2.29% 19.78%,
    rgba(191, 255, 11, 0.960701) 14.42%,
    rgba(191, 255, 11, 0.180131) 65.13%,
    rgba(255, 255, 255, 0) 100%
  );
  background-blend-mode: overlay;
}

.swiper-button-disabled {
  @apply cursor-not-allowed  bg-gray-200 disabled:cursor-pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  /* height: 100%; */
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-slide-active {
  display: block;
  width: 100% !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.swiper-slide-next {
  display: block;
  width: 100% !important;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-pagination {
  position: unset !important;
  display: block;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 2px solid #1354dc !important;
  background: unset !important;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #1354dc !important;
}

@media screen and (max-width: 767px) {
  .swiper-slide-active {
    display: block;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
  }

  .swiper-slide-next {
    display: block;
    width: 100% !important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .resize {
    width: calc(100vw / 2 - -40px) !important;
    height: calc((100vw / 2 - 40px) * 1.34) !important;
    border-radius: 16px;
  }
}

.product-features-name .swiper-button-disabled {
  background-color: white !important;
}
.progress {
  width: 0%;
  -webkit-transition: 'width 1s ease-in-out';
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  scroll-behavior: smooth;
}

.nav-menu:hover .dropdown {
  display: flex;
}
.dropdown:hover {
  display: none;
}

.contact-input {
  box-shadow: 0px 1px 2px rgba(36, 38, 40, 0.05);
}

@media screen and (max-width: 480px) {
  .swiper-slide .hide-img img {
    display: none;
  }
}

.stats {
  display: inline-grid;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: transparent;
  border-radius: var(1rem, 1rem);
}
:where(.stats) {
  grid-auto-flow: column;
  overflow-x: auto;
}
:where(.stats) > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  --tw-divide-y-reverse: 0;
  border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
}

.stat {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem /* 16px */;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0.1;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}

.place-items-center {
  place-items: center;
}

.grid-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item-f {
  flex-basis: calc(20% - 20px);
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .grid-item-f {
    flex-basis: calc(33.33% - 20px);
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/** Invoice styles **/
.invoice-create-wrapper {
  padding-bottom: 50px;
}

.invoice-create-wrapper .title {
  font-size: 18px;
  line-height: 28px;
  padding: 32px 0;
  font-weight: 600;
  color: #242628;
}

.invoice-create-wrapper .groupWrapper label {
  margin-top: 0;
}

.invoice-create-wrapper .form-control {
  padding: 14px !important;
}

.invoice-create-wrapper .divider {
  width: 100%;
  height: 1px;
  background-color: #eaecf0;
  margin-top: 32px;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs span {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.breadcrumbs span:after {
  color: #d9ddd5;
  padding: 8px;
  content: '›';
}
.breadcrumbs span:last-child:after {
  content: '';
}
.breadcrumbs .active {
  color: #d28b28;
  font-weight: 600;
}

.product-items-wrapper {
  position: relative;
  display: flex;
  gap: 95px;
  align-items: center;
  margin-bottom: 32px;
}
.product-items-wrapper:last-child {
  margin-bottom: 0;
}
.w-540 {
  width: 540px;
}
.w-250 {
  width: 250px;
}

.add-new-action {
  color: #d28b28;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  cursor: pointer;
}
.add-new-action svg {
  margin-right: 8px;
}

.absolute {
  position: absolute;
  right: 0;
  bottom: 15%;
  cursor: pointer;
}

.invoice-footer {
  width: 601px;
  margin-top: 48px;
  float: right;
  padding-bottom: 100px;
}

.invoice-footer .subtotal {
  color: #586068;
  font-size: 18px;
}

.invoice-footer .amount-wrapper {
  color: #000;
  font-size: 18px;
  padding-left: 0 !important;
}

.invoice-footer .mt-32 {
  margin-top: 32px;
}

.invoice-footer .preview-btn {
  float: right;
}

.invoice-preview-wrapper {
  background-color: #f4f4f5;
  padding-top: 45px;
  padding-bottom: 45px;
  height: 100vh;
}

.preview-header {
  padding-top: 40px;
  padding-bottom: 48px;
  width: 100%;
}

.action {
  width: 320px;
  display: flex;
  float: right;
  gap: 32px;
}

.action .action-edit {
  color: #586068;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e8e3;
  box-shadow: 0px 1px 2px rgba(36, 38, 40, 0.05);
  border-radius: 8px;
  cursor: pointer;
}
.action button {
  height: 40px;
  width: 148px;
  background: #242628;
  border: 1px solid #242628;
  box-shadow: 0px 1px 2px rgba(36, 38, 40, 0.05);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.invoice-preview {
  background-color: #fff;
  width: 595px;
  padding: 10px 10px 60px 10px;
  margin: 0 auto;
}

.bg-secondary-50 {
  background: #fbf5ec;
}

.invoice-preview header {
  padding: 20px 20px 10px 20px;
}

.border-12 {
  border-radius: 12px;
}

.invoice-preview header span:first-child {
  color: #586068;
  font-size: 12px;
}
.invoice-preview header span:last-child {
  color: #586068;
  font-size: 12px;
  text-align: right;
  font-weight: 500px;
}

.invoice-preview header p,
.invoice-preview header h1 {
  padding: 0;
  margin: 0;
}
.invoice-preview .header-title {
  font-weight: 400;
  font-size: 12px;
}

.invoice-preview .rhs .header-title {
  text-align: right;
}

.invoice-preview .header-sub {
  font-weight: 600px;
  font-size: 12px;
  color: #242628;
}

.invoice-preview header .header {
  margin-bottom: 24px;
}

.invoice-preview .lhs .text {
  color: #586068;
  font-size: 12px;
}

.preview-table {
  margin-top: 45px;
  padding: 0 20px;
}
.preview-table .table {
  width: 100%;
  margin-bottom: 1rem;
}

.preview-table th {
  color: #586068;
  font-size: 12px;
  font-weight: 600;
  border-color: #eaecf0;
}

.preview-table td {
  font-size: 12px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.preview-table tr:last-child td {
  border: none;
}

.account-info {
  border-radius: 12px;
  padding: 22px 16px;
  width: 356px;
  margin-top: 80px;
}
.info {
  margin-bottom: 16px;
}

.account-info .info h1,
.account-info .info p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.account-info .info h1 {
  color: #414240;
}

.account-info .info p {
  color: #575855;
}

.total h1,
.total p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.total h1 {
  font-weight: 500;
}
.total p {
  color: #575855;
  font-weight: 700;
}

.footer-divider {
  background: #eaecf0;
  width: 100%;
  height: 1px;
}

.invoice-preview-footer {
  margin-top: 32px;
  padding: 0 20px;
}

.invoice-preview-footer .details {
  margin-top: 32px;
}

.invoice-preview-footer .details img {
  width: 32px;
  height: 14px;
  margin-bottom: 8px;
}
.invoice-preview-footer .details .lhs {
  width: 170px;
}

.invoice-preview-footer .lhs p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  padding: 0;
  color: #121722;
}

.invoice-preview-footer .lhs a {
  display: block;
  margin: 8px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #334bc8;
  text-decoration: none;
}

.invoice-preview-footer .rhs h1 {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #121722;
}

.invoice-preview-footer .rhs p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #60737d;
}

@media (max-width: 480px) {
  .invoice-preview {
    width: 100%;
  }
}

.customers .action {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.payment-method header {
  padding: 25px 40px;
  background-color: #f2f4f1;
}

.payment-method .link {
  gap: 20px;
}

.payment-account-details {
  width: 480px;
  background-color: #fff;
  margin: 62px auto;
  padding: 50px;
}

.payment-account-details .back-arrow {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #242628;
  cursor: pointer;
}
.payment-account-details .back-arrow svg {
  margin-right: 10px;
}

.payment-account-details h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  margin-top: 50px;
}

.payment-account-details .list-items {
  padding: 25px 0;
}

.payment-account-details .list-items h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #586068;
  margin: 0;
  padding: 0;
}

.payment-account-details .list-items p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.payment-account-details .list-items .copy {
  background: #f2f4f1;
  border-radius: 30px;
  padding: 7px 10px;
  cursor: pointer;
}

.content .showmore {
  position: relative;
}

.content .showmore span {
  cursor: pointer;
}

.content .showmore .showmore-content {
  background-color: white;
  padding: 8px 16px;
  position: absolute;
  right: 0px;
  width: 151px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.cancel-modal-wrapper {
  padding: 24px;
}

.cancel-modal-wrapper main {
  padding-top: 20px;
}

.cancel-modal-wrapper main h1 {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  color: #242628;
  font-weight: 600;
  font-size: 18px;
}
.cancel-modal-wrapper main p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #586068;
}
.cancel-modal-wrapper main .divider {
  background-color: #eaecf0;
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.svg-container {
  background: #f2f4f1;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-modal-wrapper footer .footer-actions-wrapper {
  display: flex;
  gap: 28px;
}
.cancel-modal-wrapper footer .footer-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.cancel-modal-wrapper footer .footer-actions p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 8px;
  color: #586068;
}

.share-via-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #586068;
}

.disabled-date {
  background: #f2f4f1;
  opacity: 0.5;
  border: 1px solid #e5e8e3;
  box-shadow: 0px 1px 2px rgba(36, 38, 40, 0.05);
  border-radius: 8px;
  margin-top: 8px;
  padding: 14px;
}

.disabled-date p {
  padding: 0;
  margin: 0;
}

.float-right {
  text-align: right;
}

.add-customers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.details {
  padding-top: 29px;
  width: 100%;
  gap: 2px;
}
.invoice-preview-footer .details p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #121722;
  margin: 0;
}
.rhs .header-sub {
  text-align: right;
  font-size: 12px;
}
.rhs .text {
  color: #586068;
  font-size: 12px;
  text-align: right;
}

.error-wrapper {
  padding: 16px;
  background: #fee4e2;
  margin-top: 32px;
  font-size: 14px;
  border-radius: 8px;
  color: #d92d20;
}

.is-processing {
  color: #d28b28 !important;
  font-weight: 600;
}

.is-paid {
  color: #12b76a !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

/** loading styles **/
.isPage {
  min-height: 80vh;
}

/** button styles **/
.customButton,
.customButton:focus {
  max-width: 380px;
  width: 100%;
  height: 60px;
  background: #242628 !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06) !important;
  border-radius: 10px !important;
  color: #fff !important;
  transition: 0.3s;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 20px !important;
}

.customButton:hover,
.customButton:active {
  color: #bfff0b !important;
  background: #242628 !important;
}

.customButtonWithoutBg,
.customButtonWithoutBg:focus {
  max-width: 380px;
  width: 100%;
  height: inherit;
  border: none !important;
  background: none !important;
  border-radius: 10px !important;
  color: #dc2626 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  outline: none !important;
  box-shadow: none !important;
}

.amount {
  padding-left: 75px !important;
}
.hideLabel {
  top: 16px !important;
}
.active-action {
  background: #e8f0fe;
}
.currencySymbol {
  font-size: 16px !important;
}
.amount-icon {
  position: absolute;
  top: 55px;
  left: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  color: #606060;
}
.amount-icon span {
  font-size: 12px;
  margin-top: 4px;
  margin-left: 6px;
}

.amount-sign {
  padding-right: 10px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  text-align: center;
  margin-top: 2px;
}

.not-select {
  cursor: not-allowed;
}
.selector {
  outline: none !important;
  border-width: 0;
}
.selector:focus-visible {
  outline: none !important;
}

.PhoneInputInput:focus {
  outline: none;
}

.textareaLabel {
  margin-bottom: 8px;
  font-weight: 700;
  color: #586068;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
